<div class="jumbotron my-5 text-center shadow">
    <h1 class="display-3 text-danger">Drive-X</h1>
    <p class="lead">Vous aimez les belles voitures ? Vous vous dîtes que vous ne pourrez jamais conduire une voiture de luxe ? Détrompez-vous ! Grâce à Drive-X, conduire la voiture de vos rêves devient accessible.</p>
    <hr class="my-4">
    <p>Cliquez sur le bouton ci-dessous pour accéder à notre liste de véhicules et choisir celui que vous allez réserver le temps d'une location.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" routerLink="cars" role="button">Faites-moi rêver</a>
    </p>
</div>